@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617; /* Slate 950 */
  --foreground: #e2e8f0; /* Slate 200 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #e2e8f0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a; 
}

::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}
